@media screen and (max-width: 600px) {
    .products{
        display: inherit;
        max-height: 100%;
        padding: 4em;
    }

    .product{
        margin-top: auto;
    }

    .main-section{
        padding: 4%;
    }

    .product-marketing{
        grid-template-columns: 1fr;
    }

    .product-mentions-container{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .grid-container{
        display: grid;
        grid-template: none;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .product-page{
        height: initial;
    }

    .venta-grid-container{
        grid-template-rows: 1fr;
        grid-template-columns: none;
        height: initial;
    }

    .modulo-pago{
        margin-left: auto;
    }
}