/*Variables*/
:root{
--green--color: #7ACC2D;
--black--color: #313337;
--gray--fox: #c1bcbc;
--space: 10px;
--normal: 12px;
--box-shadow: 0 2px 1px #c1bcbc;
}

html,body{
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

label, p{
    font-size: var(--normal);
}

.nav-bar{
    padding: 10px;
    color: white;
    background-color: var(--green--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-image img{
    width: 100px;
}

.nav-bar-options-list{
    display: flex;
    list-style: none;
}

.nav-bar-options-list li{
    padding-left: 20px;
}

.nav-bar-options-list li a{
    text-decoration: none;
    color: var(--black--color);
}

.nav-bar-options-list li a:hover{
    color: white;
}

.main-section{
    padding: 10em;
    text-align: center;
}

.products{
    background-image: url('../images/curve.png');
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 25%;
    display: flex;
}

.product{
    padding: 10px;
    margin-top: -40px;
}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: var(--box-shadow);
}

.content img{
    width: 100%;
}

.img-container{
    margin: 0;
}

.main-button{
    background-color: var(--green--color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.main-button:hover{
    background-color: #5e9e22;
}

.product-marketing{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 7%;
    text-align: center;
    border-bottom: 1px solid var(--gray--fox);
}

.marketing-content-container{
    margin: 0;
}

.marketing-content-container img{
    max-width: 40%;
}

.product-mentions-container{
    display: grid;
    grid-template-columns: repeat(4,250px);
    justify-items: center;
    justify-content: center;
}

.mentions-container{
    margin: 0;
    width: 239px;
    height: 105px;
    overflow: hidden;
}

.mentions-container img{
    max-width: 100%;
}

.product-mentions{
    padding-top: 3em;
}

.product-mentions h1{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.mentions h3, .mentions p{
    padding-left: 5px;
}

.mentions{
    box-shadow:  0px 3px 6px #00000029;
}

footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: black;
    padding:  var(--space);
    color: white;
}

.producto-title{
    margin: 1em 1em;
}

.grid-container{
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 5em;
    margin-right: 10em;
}

.produc-descrip:nth-child(3){
    justify-self: flex-end;
}

.produc-img-left{
  display: flex;
  justify-content: flex-end;
}

.produc-img-right{
    display: flex;
    justify-content: center;
  }

.produc-img-left img,
.produc-img-right img{
    width: 30%;
}


.venta-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    align-content: center;
    align-items: center;
}

.modulo-pago{
    background-color: white;
    padding: var(--space);
  
}

.data{
    margin-top: var(--space);
    width: 60%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid black;
    box-sizing:border-box;
}

.modulo-pago .main-button{
    margin-top: 10px;
}

.product-venta-container{
    margin: 0;
   
}

.product-venta{
    padding: 3em;
    text-align: center;
}

.product-venta-container img{
    max-width: 30%;
}



.exito-fail-body{
    background-color: var(--black--color);
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-post-pay img{
    max-width: 20%;
}

.content-post-pay a{
    text-decoration: none;
    color: white;
    cursor: pointer;

}