/*Variables*/
:root{
--green--color: #7ACC2D;
--black--color: #313337;
--space: 10px;
--normal: 12px;
--box-shadow: 0 2px 1px #c1bcbc;
}

html,body{
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

.nav-bar{
    padding: 10px;
    color: white;
    background-color: var(--green--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-image img{
    width: 100px;
}

.nav-bar-options-list{
    display: flex;
    list-style: none;
}

.nav-bar-options-list li{
    padding-left: 20px;
}

.nav-bar-options-list li a{
    text-decoration: none;
    color: var(--black--color);
}

.nav-bar-options-list li a:hover{
    color: white;
}

.main-section{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url('../images/curve.png');
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 25%;
    display: flex;
}

.product{
    padding: 10px;
    margin-top: -35em;
}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: var(--box-shadow);
}

.content img{
    width: 100%;
}

.img-container{
    margin: 0;
}

.main-button{
    background-color: var(--green--color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.main-button:hover{
    background-color: #5e9e22;
}